<header class="site-header">
  <div class="container">
    <div class="logo">
      <img src="assets/imges/header-logo.png" alt="Cinema Logo" />
    </div>

    <nav class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a routerLink="movies">Movies</a></li>
        <li><a href="about">About Us</a></li>
          <li *ngIf="authService.isAdmin()"><a routerLink="/admin">Admin panel</a></li>
      </ul>
    </nav>


    <div class="auth-buttons">
      <ng-container *ngIf="!isAuthenticated">
        <button routerLink="login" class="login-btn">Login</button>
        <button routerLink="register" class ="register-btn">Register</button>
      </ng-container>
      <ng-container *ngIf="isAuthenticated">
        <ng-container *ngIf="authService.isAdmin(); else userProfile">
          <button (click)="logout()" class="logout-btn">Logout</button>
        </ng-container>
        <ng-template #userProfile>
          <button routerLink="profile" class="profile-btn">
            <img src="assets/imges/user.svg" alt="Profile" />
          </button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</header>
