@import "fonts";
@import 'ngx-toastr/toastr';

:root{
  --dark-color: #3c0071;
  --light-color: #ae50c5;
  --white-color: #ffffff;
  --primary-color: #6c1487;
  --disabled: #ccc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'JetBrains Mono', sans-serif;
  background-image: url("/assets/imges/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--dark-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    background-color: var(--disabled);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: var(--primary-color);
  }
}
